{% extends 'base.html.twig' %}

{% block title %} Voitures {% endblock %}


{% block main %}
    <div class="container">

        {# Title #}
        <section class="title my-4">
            <h1 class="text-center">Liste des voitures</h1>
        </section>

        {# Flashes messages #}
        <section class="confirm-message text-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>

        <hr>

        {# years form #}
        <section class="text-center search-car my-2">
            <div class="row d-flex justify-content-center align-items-center mx-2">
                <div class="col-4">
                    {{ form_start(form) }}
{#                    {{ form_row(form.minYear) }}#}
                    <label>
                        {{'form.minYear'|trans }}
                    </label>
                        {{ form_widget(form.minYear) }}
                </div>
                <div class="col-4">
                    <label>
                        {{'form.maxYear'|trans }}
                        {{ form_widget(form.maxYear) }}
                    </label>
{#                    {{ form_row(form.maxYear) }}#}
                </div>
                <div class="col-2">
                    <input type="submit" value="Rechercher" class="btn btn-dark mt-3">
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
        <hr>

        {# Create a car link #}
        {% if admin %}
        <section class="add-car mt-4">
            <div class="row ">
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-info" href="{{ path('app_create_car') }}">
                        <i class="fa-solid fa-plus"></i>
                        Ajouter une voiture
                    </a>
                </div>
            </div>
        </section>
        {% endif %}

        {# List of the cars #}
        <section class="cars my-4">
            <div class="row">
                <div class="col d-flex justify-content-center flex-wrap">

                    {% for car in cars %}
                        
                    <div class="card m-3 bg-light" style="max-width: 530px;">
                        <div class="row g-0 h-100 w-100">
                            <div class="col-md-5  ">
                                <img src="{{ asset('assets/images/' ~ car.model.image) }}" class="img-fluid rounded-start" alt="{{ car.model.name }}">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{ car.registration }}</h5>
                                    <p class="card-text">
                                        <div>Marque : {{ car.model.brand.name }}</div>
                                        <div>Modèle : {{ car.model.name }}</div>
                                        <div>Prix moyen : {{ car.model.price }} €</div>
                                        <div>Portes : {{ car.doors }}</div>
                                        <div>Année : {{ car.year }}</div>

                                        {% if admin %}
                                            <div class="row mt-1">
                                                <div class="col d-flex">
                                                    <a class="btn btn-warning" href="{{ path('app_update_car', {'id': car.id }) }}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>

                                                    <form action="{{ path('app_delete_car', {'id':  car.id}) }}" method="post" onsubmit="return confirm('Confimer la suppression de la voiture ?')">
                                                        <input type="hidden" name="_method" value="sup">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('sup' ~ car.id) }}">
                                                        <button type="submit" class="btn btn-danger ms-2"><i class="fa-solid fa-trash"></i></button>
                                                    </form>
                                                </div>

                                            </div>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="page my-4">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col d-flex justify-content-center">
                    <div class="navigation">
                        {{ knp_pagination_render(cars) }}
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
